@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix layout scrolling issues */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(16, 185, 129, 0.2);
  border-radius: 20px;
}

/* Electron Window Drag Regions */
.titlebar-drag {
  -webkit-app-region: drag;
}

.titlebar-no-drag {
  -webkit-app-region: no-drag;
  /* Added z-index to ensure buttons layer above the drag region */
  position: relative;
  z-index: 9999;
}